.login-form {
    width: 250px;

    &__google-btn {
        margin-bottom: 20px;
    }

    &__form {
        display: flex;
        flex-direction: column;

        mat-card-title {
            text-align: center;
        }

        &__signup-hint {
            text-align: center;
            font-size: 0.8rem;
            margin-bottom: 10px;
        }
    }
}
