.login-form {
    margin: 0 auto;
    width: 350px;

    &__form {
        display: flex;
        flex-direction: column;

        mat-card-title {
            text-align: center;
        }

        &__signup-hint {
            text-align: center;
            font-size: 0.8rem;
            margin-bottom: 10px;
        }
    }
}
