<mat-card class="login-form">
    <form (ngSubmit)="onSubmit()"
          #loginForm="ngForm"
          class="login-form__form">
        <mat-card-title>Sign in</mat-card-title>
        <mat-form-field>
            <input matInput
                   required
                   placeholder="Username"
                   name="username"
                   [(ngModel)]="user.username">
        </mat-form-field>

        <mat-form-field>
            <input matInput
                   required
                   type="password"
                   placeholder="Password"
                   name="password"
                   [(ngModel)]="user.password">
        </mat-form-field>

        <div class="login-form__form__signup-hint" >
            Don't have an account?
                <a routerLink="/signup">Sign up</a>
        </div>
        <button mat-raised-button color="primary"
                    type="submit">Sign in</button>
    </form>
</mat-card>
