<mat-sidenav-container class="main-menu">
    <mat-sidenav class="main-menu__sidenav"
                 [class.main-menu__sidenav__expanded]="sidenavExpanded"
                 mode="side"
                 opened="true">
        <mat-tree [dataSource]="dataSource"
                  [treeControl]="treeControl"
                  class="main-menu__sidenav__menu">
            <mat-tree-node *matTreeNodeDef="let node"
                           matTreeNodeToggle
                           class="main-menu__sidenav__item-leaf">
                <mat-icon *ngIf="!sidenavExpanded" class="main-menu__sidenav__menu__icon">
                                {{node.icon}}
                            </mat-icon>
                <ng-container *ngIf="sidenavExpanded">
                    {{node.itemName}}
                </ng-container>

                <button mat-icon-button
                        disabled></button>
            </mat-tree-node>

            <mat-tree-node *matTreeNodeDef="let node;when: hasChild"
                           [class.main-menu__sidenav__item-selected]="treeControl.isExpanded(node)">
                <mat-icon class="main-menu__sidenav__menu__icon">
                    {{node.icon}}
                </mat-icon>
                <ng-container *ngIf="sidenavExpanded">
                    {{node.itemName}}
                </ng-container>
                <button mat-icon-button
                        matTreeNodeToggle
                        [attr.aria-label]="'toggle ' + node.itemName"
                        class="main-menu__sidenav__menu__expand">
                    <mat-icon class="mat-icon-rtl-mirror">
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                </button>
            </mat-tree-node>
        </mat-tree>

    </mat-sidenav>
    <mat-sidenav-content [class.main-menu__sidenav-content-expanded]="!sidenavExpanded">
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
