.main-menu {
    &__sidenav {
        width: 50px;
        overflow-x: hidden;

        &__menu.mat-tree {
            .mat-tree-node {
                padding: 0 12px 0 12px;
                cursor: pointer;

                &.main-menu__sidenav__item-leaf {
                    padding-left: 12px;

                    & .mat-button {
                        padding: 0;
                        width: 100%;
                        text-align: left;

                        &:hover {
                            .mat-button-focus-overlay {
                                opacity: 0;
                            }
                        }
                    }
                }

                .mat-icon {
                    &.main-menu__sidenav__menu__icon {
                        padding-right: 12px;
                    }
                }
            }
        }

        &__expanded {
            width: 250px;

            // .mat-tree .mat-tree-node {
            //     &.main-menu__sidenav__item-leaf {
            //         padding-left: 52px;
            //     }
            // }

        }

        transition: width 150ms ease;
    }

    height: calc(100vh - 48px);
}
