@import '~@angular/material/theming';

@mixin mainmenu-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $foreground: map-get($theme, foreground);
    $textColor: #ffffff;
    $backgroundSelected: mat-color($accent);

    .main-menu {
        &__sidenav {
            background: darken($color: mat-color($primary), $amount: 8);
            .mat-tree {
                background: inherit;

                .mat-tree-node {
                    color: darken($color: $textColor, $amount: 12);
                    transition: color 200ms ease-in, background 200ms ease-in;

                    &.main-menu__sidenav__item-leaf {
                        background: darken($color: mat-color($primary), $amount: 12);
                    }

                    &:hover {
                        color: $textColor;
                        background: darken($color: mat-color($primary), $amount: 16);
                    }

                    &.main-menu__sidenav__item-selected {
                        background: $backgroundSelected;
                        color: $textColor;

                        &:hover {
                            color: $textColor;
                            background: $backgroundSelected;
                        }
                    }
                }
            }

            .mat-subheader {
                color: darken($color: $textColor, $amount: 24)
            }
        }
    }
}
