.dashboard__wrap {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;

    @media (max-width: 768px) {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }
}
