<mat-toolbar color="primary" class="header__toolbar">
    <mat-menu #accountMenu="matMenu"
              yPosition="below"
              xPosition="after"
              overlapTrigger="false"
              class="header__toolbar__account-menu">
        <button mat-menu-item>My Profile</button>
        <button mat-menu-item>Settings</button>
        <button mat-menu-item>Logout</button>
    </mat-menu>
    <a mat-button
       routerLink="./"
       class="header__toolbar__logo">
        <mat-icon>
            explore
        </mat-icon>
        AppName
    </a>
    <a mat-icon-button
       class="header__toolbar__sidenav-button"
       (click)="onSidenavButtonClick()">
        <mat-icon>
            menu
        </mat-icon>
    </a>
    <span class="fill-space"></span>
    <ng-container *ngIf="!authService.authenticated else autheticatedBlock">
        <a mat-button (click)="showLoginForm()">
            <mat-icon>
                perm_identity
            </mat-icon>
            Log In
            <mat-icon class="header__toolbar__account-button-icon">
                keyboard_arrow_down
            </mat-icon>
        </a>
    </ng-container>
    <ng-template #autheticatedBlock>
        <a mat-button
           [matMenuTriggerFor]="accountMenu">
            <mat-icon>
                account_circle
            </mat-icon>
            Username
            <mat-icon class="header__toolbar__account-button-icon">
                keyboard_arrow_down
            </mat-icon>
        </a>
    </ng-template>
</mat-toolbar>
