
<mat-sidenav-container class="wpl-app">
    <mat-sidenav #sidenav class="wpl-app__sidenav" opened="false">
        <mat-nav-list>
            <mat-list-item>
                <a>Angular
                </a>
            </mat-list-item>
            <mat-list-item>
                <a>Node
                </a>
            </mat-list-item>
            <mat-list-item>
                <a>
                    Menu item
                </a>
            </mat-list-item>
            <mat-list-item>
                <a>
                    Menu item
                </a>
            </mat-list-item>
            <mat-list-item>
                <a>
                    Menu item
                </a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
            <wpl-navigation (sidenavOpened)="onSidenavOpened()"></wpl-navigation>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
