.fill-space {
    flex: 1 1 auto;
}

.navigation {
    &__auth {
        width: 240px;
        display: flex;
    }
}

@media(max-width:599px) {
    .navigation__menu-item {
        display: none;
    }
}

@media(min-width:600px) {
    .navigation__sidenav-button {
        display: none;
    }
}

