<mat-toolbar color="primary">
    <mat-menu #angular="matMenu"
              yPosition="below"
              xPosition="after"
              overlapTrigger="false">
        <button mat-menu-item>Feature 1</button>
        <button mat-menu-item>Feature 2</button>
        <button mat-menu-item>Feature 3</button>
    </mat-menu>
    <mat-menu #node="matMenu"
              yPosition="below"
              xPosition="after"
              overlapTrigger="false">
        <button mat-menu-item>Feature 1</button>
        <button mat-menu-item>Feature 2</button>
        <button mat-menu-item>Feature 3</button>
    </mat-menu>
    <a mat-icon-button class="navigation__sidenav-button" (click)="onSidenavButtonClick()">
        <mat-icon>
            menu
        </mat-icon>
    </a>
    <a mat-icon-button
       routerLink="./">
        <mat-icon>
            explore
        </mat-icon>
    </a>
    <a mat-button class="navigation__menu-item"
       [matMenuTriggerFor]="angular">Angular
    </a>
    <a mat-button class="navigation__menu-item"
       [matMenuTriggerFor]="node">Node
    </a>
    <a mat-button class="navigation__menu-item">
        Menu item
    </a>
    <a mat-button class="navigation__menu-item">
        Menu item
    </a>
    <a mat-button class="navigation__menu-item">
        Menu item
    </a>
    <span class="fill-space"></span>
    <ng-container *ngIf="!authService.authenticated else autheticatedBlock">
        <a mat-button
           routerLink="./login">
            <mat-icon>
                perm_identity
            </mat-icon>
            Log In
        </a>
    </ng-container>
    <ng-template #autheticatedBlock>
        <a mat-button
           routerLink="./account">
            <mat-icon>
                perm_identity
            </mat-icon>
            Account
        </a>
        <a mat-button
           routerLink="./logout">
            <mat-icon>
                exit_to_app
            </mat-icon>
            Logout
        </a>
    </ng-template>
</mat-toolbar>
